*{
    -color-pane-principal: rgba(31,31,31,1) /*#1F1F1F*/;
    -color-pane-menu: rgba(26,26,26,1)/*#1A1A1A*/;
    -color-button-focused: rgba(255,255,255,0.1);
}

#base-panel{
     -fx-background-color:  transparent;
}
#principal-Pane{
    -fx-background-color: -color-pane-principal;
}

#menu-pane{
    -fx-background-color: -color-pane-menu;
}

#button-menu{
-fx-text-fill:none;
}

#button-menu:focused{
    -fx-background-color: -color-button-focused;
}
